body{
    margin:0px;
    height: 100%;
}

#enable3d-three-canvas{
    margin:0px !important;
    width: 100% !important;
    height: 100% !important;
}


#enable3d-phaser-canvas{
    margin:0px !important;
    width: 100% !important;
    height: 99% !important;
}